footer#main-footer {
  background-color: rgb(64, 22, 22);

  color: white;
  height: 55px;
  
  padding-top: 15px;
  text-align: center;
}

body {
  height: 500px;
}

div#banner{
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 60s linear infinite 12s;
  animation-timing-function: ease-in-out;
  background-image: url("../images/1031172445-huge.jpg")
}

@keyframes slideBg {

  0% {
    background-image: url("../images/1031172445-huge.jpg");
  }

  25% {
    background-image: url("../images/bg3.jpg");
  }

  50% {
    background-image: url("../images/bg4.jpg");
  }

  75% {
    background-image: url("../images/bg5.jpg");
  }

  100% {
    background-image: url("../images/bg1.jpg");
  }
}

.table {
  margin-top: 20px;
  border-color: black;
  background-color: #ccc;
}

.switch {
  margin-top: 20px;
  position: relative;
  display: inline-block;
  width: 240px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-style: outset;
  border-color: black;
}

.slider:before {
  position: absolute;
  height: 10px;
  width: 50px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-style: outset;
  border-color: black;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(177px);
  -ms-transform: translateX(177px);
  transform: translateX(177px);
  content: "";
}

#unitBox {
  background-color: white;
  height: 35px;
  margin-top: 13px;
  border-style: outset;
  border-color: black;
  text-align: center;
}

#topLogo {
  background-color: #ccc;
  width: 70%;
  margin: auto;
}
